<h1>New Category</h1>

<%= form_with model: @category, url: categories_url do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
